.footer {
    position: relative;
    background-color: black;
    padding: 20px;
    display: flex;
}

.social-networks {
    margin-right: 20px;
    margin-left: 10px;
}

.pokeball {
  width: 38px;
  height: 38px;
  margin-left: 475px;
}